body {
    font-family: sans-serif;
}

body.wait, body.wait *{
     cursor: wait !important;   
}

li {
    list-style-type: none;
}

ul {
    padding-left: 20px;
}

ul#root {
    padding: 0px;
    margin: 20px 2px 2px 2px;
}

ul#root ul {
    border-left: 1px dotted grey;
}

div.folder {
    cursor: pointer;
    height: 20px;
    float: left;
    clear: left;
    overflow: hidden;
}

div.folder-over {
    color: green;
}
div.rename-over, div.delete-over {
    color: green;
}

div#action-box {
    position: fixed;
    width: 252px;
    background-color: white;
    padding: 10px;
    border: 1px solid black;
    border-radius: 2px;

    -webkit-box-shadow: 0 10px 6px -6px #777;
    -moz-box-shadow: 0 10px 6px -6px #777;
    box-shadow: 0 10px 6px -6px #777;

}

div.bookmark {
    word-break: break-all;
    float: left;
    clear: left;
    min-height: 1.2em;
    line-height: 1.2em;
    min-width: 450px;
    position: relative;
}

div.fa-star, div.fa-star-o {
    width: 15px;
    float: left;
}

div.bookmark > div {
    float: left;
    font-size: 0.8em;
    min-height: 22px;
    cursor: pointer;
}

div.bookmark > div.bookmark-link {
    color: blue;
}
div.bookmark > div.bookmark-link-edited {
    margin-bottom: 25px;
}

div.bookmark:HOVER, div.folder:HOVER {
    background-color: #ffffff;
}

div#logo {
    position: absolute;
    left: 1px;
    top: 1px;
}

div#rename-box, div#delete-box, div#export-box, div#import-box {
    padding-top: 15px;
    font-size: 1.6em;
    width: 25px;
    height: 25px;
}

div#rename-box {
    padding-left: 5px;
}
div#delete-box {
    padding-left: 5px;
}
div#export-box {
    position: absolute;
    right: 30px;
    top: 41px;
    cursor :pointer;
}
div#import-box {
    position: absolute;
    right: 2px;
    top: 43px;
    cursor :pointer;
}

div#add-folder-box, div#rename-input-box, div#import-input-box{
    font-style: italic;
    font-size: 0.8em;
    margin-top: 5px;
}
div#rename-input-box {
    position: absolute;
    top: 15px;
}

input#rename-input-box-form {
    width: 200px;
    margin-left: 30px;
}

input#add-folder {
    width: 132px;
}


div#starred-list {
    margin-top: 120px;
    float: left;
    width: 100%;
}

div#folder-list {
    margin-bottom: 100px;
    float: left;
    width: 100%;
}

div#bookmarklet {
    background: white;
    position: fixed;
    bottom: 0px;
    left: 175px;
    width: 50px;
    height: 50px;
    font-size: 0.6em;
    border: 4px dotted grey;
    border-radius: 8px;
    line-height: 50px;
    vertical-align: middle;
    text-align: center;
}

div#bookmarklet a {
    color: grey;
}

div#copyright {
    background: white;
    width: 150px;
    font-size: 0.6em;
    position: fixed;
    bottom: 0;
    padding: 5px;
}

img.favicon {
    float: left;
}

.dragged-item {
    opacity: 0.4;
    font-style: italic;
}
